<html>
<head>
<link rel="stylesheet" href="/staticRes/stylesheet.css">
</head>
<body>
<div class="header">
  <a href="#default" class="logo">Oasis</a>
  <div class="header-right">
    <a class="active" href="/">Home</a>
    <a href="/calgary">Calgary</a>
    <a href="/edmonton">Edmonton</a>
  </div>
</div>
</body>
</html>
